@import url("https://fonts.googleapis.com/css?family=Oswald");
body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
  width: 200px;
  background: #414141;
  color: white;
  height: calc(100vh - 40px - 20px);
  float: left;
  position: relative;
}
.menu ul li ul {
  display: none;
}

.sub-menu {
  top: calc(40px + 20px);
  z-index: -1;
  left: 200px;
  position: absolute;
  width: 0px;
  height: calc(100vh - 40px - 20px);
  overflow-y: auto;
  transition: width .3s ease-in, z-index .3s ease-out;
  background: #f6f6f6;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);
}
.sub-menu.display {
  width: 300px;
  z-index: 9999;
  color: #5958a0;
  overflow-x: hidden;
}
.sub-menu.display ul li {
  width: 290px;
}
.sub-menu.display ul li:hover {
  color: white !important;
}

.nav-bar {
  width: calc(100% - 20px);
  height: 40px;
  line-height: 40px;
  color: white;
  background: #2a2a2a;
  padding: 10px;
  text-align: right;
  float: left;
}
.nav-bar .nav-content {
  float: right;
  margin-right: 10px;
  padding: 10px;
}
.nav-bar label, .nav-bar button {
  margin-left: 10px;
}
.nav-bar select {
  height: 25px;
  outline: none;
}

.content {
  width: calc(100% - 200px);
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}
.content .content-body {
  height: calc(75vh - 50px);
}
.content .log {
  height: calc(30vh - 40px - 80px);
  margin: 10px;
  font-size: 10pt;
}
.content .log .warn {
  color: #df8e3b;
}
.content .log .info {
  color: #1860cd;
}
.content .log .error {
  color: #f23f3f;
}
.content .log .message {
  color: #0e9c8e;
}
.content .log .log-bar {
  width: calc(100% - 10px);
  background: #b62323;
  color: white;
  line-height: 30px;
  padding-left: 10px;
  min-height: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
}
.content .log .log-content {
  background: #eee;
  padding: 10px;
  overflow-y: auto;
  height: calc(30vh - 40px - 130px);
}

input[type="text"] {
  border-radius: 4px;
  border: 1px #ddd solid;
  height: 25px;
  margin-left: 10px;
  padding-left: 5px;
  outline: none;
}

button {
  border-radius: 4px;
  padding: 6px;
  background: #7fb87b;
  color: white;
  border: none;
  cursor: pointer;
  border-right: 2px rgba(0, 0, 0, 0.5) solid;
  border-bottom: 2px rgba(0, 0, 0, 0.5) solid;
  transition: border .2s ease-out;
  outline: none;
}
button:hover {
  border-bottom: 1px;
  border-right: 1px;
}

.nav-bar select, .content .log, input[type="text"], button, .config .config-body .config-form, .config .config-body select, .dashboard .instances .instance {
  border: 1px #eee solid;
  border-radius: 4px;
  border-right: 2px rgba(0, 0, 0, 0.5) solid;
  border-bottom: 2px rgba(0, 0, 0, 0.5) solid;
}

.menu ul, .sub-menu.display ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.menu ul li, .sub-menu.display ul li {
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  transition: border-left .1s ease-in;
}
.menu ul li:hover, .sub-menu.display ul li:hover, .menu ul li.selected, .sub-menu.display ul li.selected {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.menu ul li.selected, .sub-menu.display ul li.selected {
  border-left: 5px #b62323 solid;
}

.commands #command {
  padding-left: 10px;
  text-align: left;
  width: 100%;
  max-width: calc(100% - 80px);
}
.commands button {
  width: 40px;
}

.header {
  padding: 10px;
  width: calc(100% - 20px);
  height: 20px;
  background: #b62323;
  color: white;
  line-height: 20px;
  font-size: 16pt;
}

.sub-header {
  width: calc(100% - 40px);
  padding: 20px;
  background: #b62323;
  color: white;
}

.config .config-body {
  padding: 10px;
  text-align: center;
}
.config .config-body .config-form {
  display: inline-block;
  padding: 10px;
  text-align: left;
  margin: auto;
}
.config .config-body .config-form div {
  margin: 10px 0;
}
.config .config-body .config-form table {
  border: none;
}
.config .config-body label {
  margin-right: 20px;
}
.config .config-body input[type="text"] {
  width: 200px;
  margin-left: 0;
}
.config .config-body select {
  height: 25px;
  outline: none;
}

.dashboard .instances {
  margin: 10px;
  min-height: calc(75vh - 40px - 80px);
  max-height: calc(75vh - 40px - 80px);
  overflow-y: auto;
  width: calc(100% - 20px);
  margin: auto;
  text-align: center;
}
.dashboard .instances .instance {
  width: calc(25% - 30px);
  height: 200px;
  margin: 10px;
  display: inline-block;
}

/*# sourceMappingURL=main.css.map */
