<script type="text/javascript" src="js/partials/main.js"></script>
<div>
	<div class="menu">
		<div class="perfil">
			<div class="logo white">
				<span>D</span>
				<span>S</span>
			</div>
			<div class="infos">
				<label>
					<b>Alias</b>:
					<span id="server-alias"></span>
				</label>
				<br/>
				<label>
					<b>IP</b>:
					<span id="server-ip"></span>
				</label>
				<br/>
				<label>
					<b>Port</b>:
					<span id="server-port"></span>
				</label>
				<br/>
				<label>Server up and running </label>
				</label>
			</div>
		</div>

		<ul>
			<li>
				<i class="small material-icons">computer</i> Servers
			</li>
			<li>
				<i class="small material-icons">person</i> Users
			</li>
			<li>
				<input type="text" id="external-port">
				<button id="connectInstance"><i class="material-icons"></i> Find Server </button>
			</li>
		</ul>
	</div>
	<div class="content">
	</div>
</div>