$menu-width: 300px;
.menu {
	width: $menu-width;
	background: #161616;
	color: white;
	box-shadow: -4px 0px 8px 7px #0a0a0a;
	height: 100vh;
	position: fixed;
	z-index: 99999;

	.perfil {
		display: flex;
		background: black;
		padding: 10px;
		min-height: 40px;
		margin-top: 10px;
		position: relative;

		.logo {
			text-align: left !important;
			display: flex;
			align-items: center;
		}

		.infos {
			display: inline-block;
		    border-left: 1px white solid;
		    line-height: 19pt;
		    padding-left: 10px;
		    font-size: 8pt;
		    margin-left: 10px;
		}
	}

	@extend %list-props;
	ul {
		font-size: 10pt;
		i {
			font-size: 10pt;
		}
		li ul {	display: none;	}
	} 
}

.sub-menu {
	top: 0;
	z-index: -1;
	left: 300px;
	position: absolute;
	width: 0px;
	height: 100vh;
	overflow-y: auto;
	transition: width .3s ease-in, z-index .3s ease-out;
	background: #f6f6f6;
	box-shadow: 1px 0px 10px rgba(0,0,0,.5);

	&.display {
		width: 300px;
		z-index: 9999;
		color: #5958a0;
		@extend %list-props;
		overflow-x: hidden;
		ul li { 
			width: 290px;
			display: table;
			i {
				width: 10pt;
			    padding-right: 10pt;
			    display: table-cell;
			    vertical-align: middle;
				text-align: center;
			}
			&:hover {
				color: white !important;
			}


		}
	}
}


.content {
	display: inline-block;
	margin-left: $menu-width;
	padding: 10px;
	font-size: 10pt;
	font-family: Tahoma;
	width: calc(100% - #{$menu-width});
	height: calc(98vh - 30px);
	max-height: calc(98vh - 30px);
	overflow: auto;
	position: fixed;
	background: #191919;


	div.info { 
		color: white;
	}

	div.error {
		color: #bc1b1b;
	}

	div.warn {
		color: orange;
	}
}

.cmd-line {
	width: calc(100% - #{$menu-width});
	position: fixed;
	bottom: 0;
	left: $menu-width;

	input {
		background: black;
		color: white;
		border: none;
		outline: none;
		width: 100%;
		padding: 10px;
		font-size: 10pt;
	}
}

%list-props {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: left;

		li {
			padding-left: 10px;
			height: 40px;
			line-height: 40px;
			transition: border-left .1s ease-in;

			&:hover, &.selected {
				background: rgba(0,0,0,.5);
				cursor: pointer;
			}

			&.selected {
				border-left: 5px #3a0f77 solid
			}
		}
	}
}
